---
import '../styles/global.scss';
---

<footer>
	<p>© 2025 Ldez</p>
	<div class="footer_links">
		<a href="#"><span class="emoji i-simple-icons-discord" role="img" aria-label="discord"></span> Discord</a>
		<a href="#"> <span class="emoji i-mdi-twitter" role="img" aria-label="twitter"></span> X</a>
		<a href="https://github.com/ld3z/server-releases"> <span class="emoji i-mdi-github" role="img" aria-label="github"></span> GitHub</a>
	</div>
</footer>
